html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 42px;
  text-align: center;
  margin: 4rem 0 5rem;
}

.container { 
  margin: 0 auto;
  max-width: 1200px;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
}

.legible-text-area {
  width: 600px; 
  height: 350px;
  padding: 3rem;
  background-position: center center;
  background-size: cover;
}

.overlay-text {
  font-weight: bold;
  font-size: 48px;
}